.container .header{
    height: 44px;
    width: 100%;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 44px;
    background-color: #00b2ee
}

.list-container{
    width: 100%;
    margin: 6px 0 14px;
    color: #888;
    font-size: 14px;
}

.list-container .title,
.list-container .list{
    width: 100%;
    border-bottom:1px solid #c8c8c8;
    background-color: #fff;
}

.title{
    border-top: 1px solid #c8c8c8;
    font-weight: bold;
}

.name,
.duty{
    display: inline-block;
    width: 48%;
    text-align: center;
    height: 36px;
    line-height: 36px;
}

.duty{
    border-right: 1px solid #c8c8c8;
}

