<view class="container">
    <input type="text" class="input" bindblur="getVal"/>
    <input type="text" password class="input" bindblur="getPwd"/>

    <button class="login" bindtap="login">立即登录</button>
</view>