<view class="container">
  <view class="header">
    <text class="com-name ellipsis">{{com_name}}</text>
    <icon class="iconfont icon-share share"/>
  </view>
  <view class="com-info">
    <view class="basic-top">
      <text class="type ellipsis">{{com_type || '暂无'}}</text>
      <text class="status">{{com_status || '暂无'}}</text>
    </view>
    <view class="info-list">
      <view class="detail-item">
        <text class="detail-value ellipsis">{{dutyPerson || '暂无'}}</text>
        <text class="detail-key">法人代表</text>
      </view>
      <view class="detail-item second-item">
        <text class="detail-value">{{registerMoney? registerMoney+'万元人民币' : '暂无'}}</text>
        <text class="detail-key">注册资金</text>
      </view>
      <view class="detail-item">
        <text class="detail-value">{{registerDate}}</text>
        <text class="detail-key">成立日期</text>
      </view>
    </view>
    <view class="data-list">
      <view class="list-item">
        <icon class="iconfont icon-browse item-icon"/>
        <text class="item browseNum">浏览量{{browseNum}}</text>
      </view>
      <view class="list-item">
        <icon class="iconfont icon-favorite item-icon"/>
        <text class="item favorNum">收藏数{{favorNum}}</text>
      </view>
      <view class="list-item">
        <icon class="iconfont icon-comment item-icon"/>
        <text class="item commentNum">评论数{{commentNum}}</text>
      </view>
    </view>
    <view class="telephone">
      <icon class="iconfont icon-phone tele-icon" />
      <text class="phoneNo">{{phoneNo || '暂无'}}</text>
    </view>
    <view class="email">
      <icon class="iconfont icon-email email-icon" />
      <text class="emailNo">{{emailNo || '暂无'}}</text>
    </view>
    <view class="address" bindtap="gotoMap">
      <icon class="iconfont icon-navigation nav-icon" />
      <text class="address-loc">{{address || '暂无'}}</text>
      <icon class="iconfont icon-arrow right-arrow" />
    </view>
    <view class="feature-list">
      <view class="company-impress feature-item" data-parameter="comImpress" bindtap="redirect">
        <icon class="iconfont icon-company-impress impress-icon" />
        <text class="feature">企业印象</text>
      </view>
      <view class="company-member feature-item" data-parameter="comMember" bindtap="redirect">
        <icon class="iconfont icon-member member-icon" />
        <text class="feature">主要成员</text>
      </view>
      <view class="company-relation feature-item" data-parameter="comRelation" bindtap="redirect">
        <icon class="iconfont icon-company-relation relation-icon" />
        <text class="feature">企业图谱</text>
      </view>
      <view class="company-info feature-item" data-parameter="comInfo" bindtap="redirect">
        <icon class="iconfont icon-boss-info info-icon" />
        <text class="feature">股东信息</text>
      </view>
    </view>
  </view>
</view>